In [3]:
import numpy as np
import pandas as pd
quantity = int(input('Number of youre components : '))
x_value = np.array([])
for i in range(quantity):
    x=float(input(f'x{i+1} = '))
    x_value = np.append(x_value,x)
for i in range(quantity):
    print(f'x{i+1} is {x_value[i]}')
A = np.zeros([quantity])
B = np.zeros([quantity])
C = np.zeros([quantity])
for i in range(quantity):
    A[i] = float(input(f'A{i+1} = '))
    B[i] = float(input(f'B{i+1} = '))
    C[i] = float(input(f'C{i+1} = '))
P = float(input('Vlue of pressure in mmHg : '))
print(f'total pressure is {P}mmhg')
saturated_T = np.array([])
for i in range(quantity):
    TS = (B[i]/(A[i]-np.log10(P))-C[i])
    saturated_T = np.append(saturated_T,TS).round(3)
for i in range(quantity):
    print(f'T{i+1}S is {saturated_T[i]}C')
T0 = (np.sum(x_value*saturated_T).round(3))
print(f'first gusse for temprature is {T0}')
Selective_component = int(input('selective component is : '))
print(f'selective component (between 1,{quantity} ) is number {Selective_component}')
alphas = []
for i in range(quantity):
    alpha = 10**((A[i]-(B[i]/(T0+C[i])))-(A[Selective_component-1]-(B[Selective_component-1]/(T0+C[Selective_component-1]))))
    alphas.append(alpha.round(3))
PS = (P/(np.sum(x_value*alphas))).round(3)
new_T_1 = ((B[Selective_component-1]/(A[Selective_component-1]-np.log10(PS)))-C[Selective_component-1]).round(3)
err = abs(new_T_1 - T0)
my_T = [T0,new_T_1]
PS_list = [P,PS]
my_alphas = [alphas]
while err>10**(-3):
    new_T = (B[Selective_component-1]/(A[Selective_component-1]-np.log10(PS)))-C[Selective_component-1]
    new_alphas = []
    for i in range(quantity):
        new_alpha = 10**(((A[i]-(B[i]/(new_T+C[i])))-(A[Selective_component-1]-(B[Selective_component-1]/(new_T+C[Selective_component-1]))))).round(4)
        new_alphas.append(new_alpha.round(3))
        my_alphas.append(new_alphas)
    PS = (P/(np.sum(x_value * np.array([new_alphas])))).round(3)
    PS_list.append(PS)
    new_2_T = (B[Selective_component-1]/(A[Selective_component-1]-np.log10(PS)))-C[Selective_component-1]
    my_T.append((new_2_T).round(3))
    err = abs(new_2_T - new_T)
print(f'This is PS{Selective_component} list {PS_list}')
print(f'This is Temprature list {my_T}')
print(f'bubble point tempratuer is {(new_2_T).round(3)} C')
data = pd.DataFrame(my_alphas[0:len(PS_list)],columns=[f'alpha{i+1}{Selective_component}' for i in range(quantity)])
data['Pressure'] = PS_list
data['Temperature'] = my_T
data

x1 is 0.3
x2 is 0.45
x3 is 0.25
total pressure is 600.0mmhg
T1S is 49.574C
T2S is 74.292C
T3S is 93.843C
first gusse for temprature is 71.764
selective component (between 1,3 ) is number 3
This is PS3 list [600.0, 238.199, 233.527, 232.888, 232.793, 232.793]
This is Temprature list [71.764, 67.9, 67.388, 67.317, 67.306, 67.306]
bubble point tempratuer is 67.306 C

   alpha13  alpha23  alpha33  Pressure  Temperature
0    4.566    1.998      1.0   600.000       71.764
1    4.686    2.030      1.0   238.199       67.900
2    4.686    2.030      1.0   233.527       67.388
3    4.686    2.030      1.0   232.888       67.317
4    4.702    2.035      1.0   232.793       67.306
5    4.702    2.035      1.0   232.793       67.306